In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import plotly.tools as tls
import plotly.plotly as py
import cufflinks as cf
# print(cf.__version__)
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

%matplotlib inline

# ------------------------------------------------------------------------
tls.set_credentials_file(username='VIvidh',api_key='5RTkH4bVaeoz7EkYo2ce')
# -------------------------------------------------------------------------

In [2]:
BlackFridayTrain = pd.read_csv('train.csv')

In [3]:
BlackFridayTrain['Product_Category_2'].fillna(0, inplace=True)
BlackFridayTrain['Product_Category_3'].fillna(0, inplace=True)

BlackFridayTrain['Marital_Status'] = BlackFridayTrain['Marital_Status'].map({0: 'unmarried', 1: 'married'})
BlackFridayTrain['Product_Category_3'].fillna(0, inplace=True)

BlackFridayTrain['Product_Category_2'] = BlackFridayTrain['Product_Category_2'].astype(int)
BlackFridayTrain['Product_Category_3'] = BlackFridayTrain['Product_Category_3'].astype(int)

In [4]:
dummy = pd.get_dummies(BlackFridayTrain['Gender'])
dummy1 = pd.get_dummies(BlackFridayTrain['City_Category'])
dummy2 = pd.get_dummies(BlackFridayTrain['Marital_Status'])
dummy3 = pd.get_dummies(BlackFridayTrain['Occupation'])

In [5]:
# BlackFridayTrain = BlackFridayTrain.drop(['Gender','City_Category', 'Marital_Status', 'Occupation'], axis=1)

In [6]:
BlackFridayTrain = pd.concat([BlackFridayTrain, dummy, dummy1, dummy3], axis = 1)

In [ ]:
BlackFridayTrain.head()

In [ ]:
BlackFridayTrain.columns

In [8]:
BlackFridayTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 38 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null object
Product_Category_1            550068 non-null int64
Product_Category_2            550068 non-null int64
Product_Category_3            550068 non-null int64
Purchase                      550068 non-null int64
F                             550068 non-null uint8
M                             550068 non-null uint8
A                             550068 non-null uint8
B                             550068 non-null uint8
C                             550068 non-null uint8
0                             550068 non-null uint8
1                             550068 non-null uint8
2                             550068 non-null uint8
3                             550068 non-null uint8
4                             550068 non-null uint8
5                             550068 non-null uint8
6                             550068 non-null uint8
7                             550068 non-null uint8
8                             550068 non-null uint8
9                             550068 non-null uint8
10                            550068 non-null uint8
11                            550068 non-null uint8
12                            550068 non-null uint8
13                            550068 non-null uint8
14                            550068 non-null uint8
15                            550068 non-null uint8
16                            550068 non-null uint8
17                            550068 non-null uint8
18                            550068 non-null uint8
19                            550068 non-null uint8
20                            550068 non-null uint8
dtypes: int64(6), object(6), uint8(26)
memory usage: 64.0+ MB

In [9]:
BlackFridayTrain.describe()

,User_ID,Occupation,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,F,M,A,B,...,11,12,13,14,15,16,17,18,19,20
count,5.500680e+05,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,...,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000
mean,1.003029e+06,8.076707,5.404270,6.735436,3.841941,9263.968713,0.246895,0.753105,0.268549,0.420263,...,0.021063,0.056682,0.014049,0.049647,0.022115,0.046123,0.072796,0.012039,0.015382,0.061014
std,1.727592e+03,6.522660,3.936211,6.215492,6.250712,5023.065394,0.431205,0.431205,0.443205,0.493601,...,0.143594,0.231234,0.117694,0.217214,0.147059,0.209752,0.259802,0.109058,0.123066,0.239357
min,1.000001e+06,0.000000,1.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.001516e+06,2.000000,1.000000,0.000000,0.000000,5823.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.003077e+06,7.000000,5.000000,5.000000,0.000000,8047.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.004478e+06,14.000000,8.000000,14.000000,8.000000,12054.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.006040e+06,20.000000,20.000000,18.000000,18.000000,23961.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
BlackFridayTrain.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
F                             0
M                             0
A                             0
B                             0
C                             0
0                             0
1                             0
2                             0
3                             0
4                             0
5                             0
6                             0
7                             0
8                             0
9                             0
10                            0
11                            0
12                            0
13                            0
14                            0
15                            0
16                            0
17                            0
18                            0
19                            0
20                            0
dtype: int64

In [11]:
BlackFridayTrain.groupby(['Gender'])['Purchase'].sum().iplot(kind='bar', yTitle='Total Purchase Amount', title='Total Purchase by Gender')

In [12]:
BlackFridayTrain.groupby(['Age'])['Purchase'].sum().iplot(kind='bar', title="Age Distribution of the data")

In [13]:
BlackFridayTrain.groupby(['Occupation'])['Purchase'].sum().iplot(kind='bar', title="Occupation Distribution of the data")

In [14]:
BlackFridayTrain.groupby('City_Category')['Purchase'].sum().iplot(kind='bar', title="City Category Distribution of the data")

In [15]:
BlackFridayTrain.groupby('Stay_In_Current_City_Years')['Purchase'].sum().iplot(kind='bar', title="Stay Duration Distribution of the data")

In [16]:
BlackFridayTrain.groupby('Marital_Status')['Purchase'].sum().iplot(kind='bar', title="Marital Status Distribution of the data")

In [17]:
BlackFridayTrainNew = BlackFridayTrain.copy(deep=True)

BlackFridayTrainNew.loc[BlackFridayTrainNew['Gender'] == 'F', 'Gender'] = 0
BlackFridayTrainNew.loc[BlackFridayTrainNew['Gender'] == 'M', 'Gender'] = 1

BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '0-17', 'Age'] = 0
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '18-25', 'Age'] = 1
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '26-35', 'Age'] = 2
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '36-45', 'Age'] = 3
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '46-50', 'Age'] = 4
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '51-55', 'Age'] = 5
BlackFridayTrainNew.loc[BlackFridayTrainNew['Age'] == '55+', 'Age'] = 6

BlackFridayTrainNew.loc[BlackFridayTrainNew['Stay_In_Current_City_Years'] == '4+', 'Stay_In_Current_City_Years'] = 4

BlackFridayTrainNew.loc[BlackFridayTrainNew['City_Category'] == 'A', 'City_Category'] = 0
BlackFridayTrainNew.loc[BlackFridayTrainNew['City_Category'] == 'B', 'City_Category'] = 1
BlackFridayTrainNew.loc[BlackFridayTrainNew['City_Category'] == 'C', 'City_Category'] = 2

In [18]:
BlackFridayTrainNew.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,...,11,12,13,14,15,16,17,18,19,20
0,1000001,P00069042,0,0,10,0,2,unmarried,3,0,...,0,0,0,0,0,0,0,0,0,0
1,1000001,P00248942,0,0,10,0,2,unmarried,1,6,...,0,0,0,0,0,0,0,0,0,0
2,1000001,P00087842,0,0,10,0,2,unmarried,12,0,...,0,0,0,0,0,0,0,0,0,0
3,1000001,P00085442,0,0,10,0,2,unmarried,12,14,...,0,0,0,0,0,0,0,0,0,0
4,1000002,P00285442,1,6,16,2,4,unmarried,8,0,...,0,0,0,0,0,1,0,0,0,0

In [19]:
# BlackFridayTrainNew['Product_Category_2'].fillna(0, inplace=True)
# BlackFridayTrainNew['Product_Category_3'].fillna(0, inplace=True)

# BlackFridayTrainNew['Product_Category_2'] = BlackFridayTrainNew['Product_Category_2'].astype(int)
# BlackFridayTrainNew['Product_Category_3'] = BlackFridayTrainNew['Product_Category_3'].astype(int)

In [20]:
BlackFridayTrainNew.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,...,11,12,13,14,15,16,17,18,19,20
0,1000001,P00069042,0,0,10,0,2,unmarried,3,0,...,0,0,0,0,0,0,0,0,0,0
1,1000001,P00248942,0,0,10,0,2,unmarried,1,6,...,0,0,0,0,0,0,0,0,0,0
2,1000001,P00087842,0,0,10,0,2,unmarried,12,0,...,0,0,0,0,0,0,0,0,0,0
3,1000001,P00085442,0,0,10,0,2,unmarried,12,14,...,0,0,0,0,0,0,0,0,0,0
4,1000002,P00285442,1,6,16,2,4,unmarried,8,0,...,0,0,0,0,0,1,0,0,0,0

In [21]:
BlackFridayTrainNew.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
F                             0
M                             0
A                             0
B                             0
C                             0
0                             0
1                             0
2                             0
3                             0
4                             0
5                             0
6                             0
7                             0
8                             0
9                             0
10                            0
11                            0
12                            0
13                            0
14                            0
15                            0
16                            0
17                            0
18                            0
19                            0
20                            0
dtype: int64

In [22]:
BlackFridayTrainNew.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,...,11,12,13,14,15,16,17,18,19,20
0,1000001,P00069042,0,0,10,0,2,unmarried,3,0,...,0,0,0,0,0,0,0,0,0,0
1,1000001,P00248942,0,0,10,0,2,unmarried,1,6,...,0,0,0,0,0,0,0,0,0,0
2,1000001,P00087842,0,0,10,0,2,unmarried,12,0,...,0,0,0,0,0,0,0,0,0,0
3,1000001,P00085442,0,0,10,0,2,unmarried,12,14,...,0,0,0,0,0,0,0,0,0,0
4,1000002,P00285442,1,6,16,2,4,unmarried,8,0,...,0,0,0,0,0,1,0,0,0,0

In [23]:
ageVsGender = BlackFridayTrainNew.groupby(['Age', 'Gender'])['Purchase'].sum().unstack()

In [24]:
ageVsGender

Gender          0           1
Age
0        42385978    92527205
1       205475842   708372833
2       442976233  1588794345
3       243438963   783130921
4       116706864   304136539
5        89465997   277633647
6        45782765   154984610

In [25]:
ageVsGender.iplot(kind='bar', title="Gender Distribution across various Age Groups")

In [26]:
conditions = [
    (BlackFridayTrainNew['Product_Category_1'] != 0) & (BlackFridayTrainNew['Product_Category_2'] == 0) & (BlackFridayTrainNew['Product_Category_3'] == 0),
    (BlackFridayTrainNew['Product_Category_1'] != 0) & (BlackFridayTrainNew['Product_Category_2'] != 0) & (BlackFridayTrainNew['Product_Category_3'] == 0),
    (BlackFridayTrainNew['Product_Category_1'] != 0) & (BlackFridayTrainNew['Product_Category_2'] != 0) & (BlackFridayTrainNew['Product_Category_3'] != 0)]
choices = [1, 2, 3]
BlackFridayTrainNew['Category_Count'] = np.select(conditions, choices, default=0)

In [27]:
# BlackFridayTrainNew['Product_ID'] = BlackFridayTrainNew['Product_ID'].str[2:]
# BlackFridayTrainNew['Product_ID'] = BlackFridayTrainNew['Product_ID'].astype(str).astype(int)

BlackFridayTrainNew['Product_Score'] = 0.0
required_product_data = BlackFridayTrainNew[['Product_ID', 'Product_Score']]

required_product_data['Frequency'] = 1

grouped_product_data = required_product_data.groupby(['Product_ID']).sum()
grouped_product_data = grouped_product_data.reset_index()

grouped_product_data.head()

  Product_ID  Product_Score  Frequency
0  P00000142            0.0       1152
1  P00000242            0.0        376
2  P00000342            0.0        244
3  P00000442            0.0         92
4  P00000542            0.0        149

In [28]:
max_frequency = grouped_product_data['Frequency'].max()

final_product_data = grouped_product_data[['Product_ID', 'Product_Score', 'Frequency']]

for index, row in final_product_data.iterrows():
    product_score = (float(row['Frequency']) / float(max_frequency))
    final_product_data.set_value(index, 'Product_Score', product_score)

/Users/suhaniladani/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [29]:
final_product_data.head()

  Product_ID  Product_Score  Frequency
0  P00000142       0.612766       1152
1  P00000242       0.200000        376
2  P00000342       0.129787        244
3  P00000442       0.048936         92
4  P00000542       0.079255        149

In [30]:
BlackFridayTrainNew.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,...,13,14,15,16,17,18,19,20,Category_Count,Product_Score
0,1000001,P00069042,0,0,10,0,2,unmarried,3,0,...,0,0,0,0,0,0,0,0,1,0.0
1,1000001,P00248942,0,0,10,0,2,unmarried,1,6,...,0,0,0,0,0,0,0,0,3,0.0
2,1000001,P00087842,0,0,10,0,2,unmarried,12,0,...,0,0,0,0,0,0,0,0,1,0.0
3,1000001,P00085442,0,0,10,0,2,unmarried,12,14,...,0,0,0,0,0,0,0,0,2,0.0
4,1000002,P00285442,1,6,16,2,4,unmarried,8,0,...,0,0,0,1,0,0,0,0,1,0.0

In [ ]:
for index, row in BlackFridayTrainNew.iterrows():
    p_score = final_product_data.loc[final_product_data.Product_ID == row['Product_ID'], 'Product_Score'].values[0]
    BlackFridayTrainNew.set_value(index, 'Product_Score', p_score)

/Users/suhaniladani/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [ ]:
BlackFridayTrainNew.head()

In [ ]:
BlackFridayTrainNew.corr()

In [ ]:
X = BlackFridayTrainNew.drop(['Purchase','Product_ID'], axis=1)
y = BlackFridayTrainNew['Purchase']

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

In [ ]:
lm = linear_model.LinearRegression()

In [ ]:
model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)

In [ ]:
print(predictions.shape)
print(y_test.shape)

In [ ]:
predictions[0:5]

In [ ]:
mse = np.mean((predictions - y_test)**2)
print(mse)

In [ ]:
rmse = sqrt(mse)
print(rmse)

In [ ]:
lm.score(X_test,y_test)

In [ ]:
x_plot = plt.scatter(predictions, (predictions - y_test))
plt.hlines(y=0, xmin= -1000, xmax=5000)
plt.title('Residual plot')

In [ ]:
predictors = X_train.columns
coef = Series(lm.coef_,predictors).sort_values()
coef.iplot(kind='bar', title='Modal Coefficients')

In [ ]:
from sklearn.linear_model import Ridge

## training the model
ridgeReg = Ridge(alpha=0.05, normalize=True)
ridgeReg.fit(X_train,y_train)
predictions = ridgeReg.predict(X_test)

#calculating mse
mse = np.mean((predictions - y_test)**2)
print("mean square error : ", mse)

#calculating rmse
rmse = sqrt(mse)
print("root mean square error : ", rmse)

#Score
print("Score : ", ridgeReg.score(X_test,y_test))

In [ ]:
from sklearn.linear_model import Lasso

## training the model
lassoReg = Lasso(alpha=0.3, normalize=True)
lassoReg.fit(X_train,y_train)
predictions = lassoReg.predict(X_test)

# calculating mse
mse = np.mean((predictions - y_test)**2)
print("mean square error : ", mse)

#calculating rmse
rmse = sqrt(mse)
print("root mean square error : ", rmse)

#Score
print("Score : ", lassoReg.score(X_test,y_test))

In [ ]:
from sklearn.linear_model import ElasticNet

## training the model
ENreg = ElasticNet(alpha=1, l1_ratio=0.5, normalize=False)
ENreg.fit(X_train,y_train)
predictions = ENreg.predict(X_test)

#calculating mse
mse = np.mean((predictions - y_test)**2)
print("mean square error : ", mse)

#calculating rmse
rmse = sqrt(mse)
print("root mean square error : ", rmse)

#Score
print("Score : ", ENreg.score(X_test, y_test))

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor()

# Train the model on training data
rf.fit(X_train,y_train)

In [ ]:
# Use the forest's predict method on the test data
predictions = rf.predict(X_test)

# Calculate the absolute errors
errors = abs(predictions - y_test)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

In [ ]:
# Saving feature names for later use
feature_list = list(X.columns)
# Convert to numpy array
features = np.array(X)

In [ ]:
# Get numerical feature importances
importances = list(rf.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(features, round(importance, 2)) for features, importance in zip(feature_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

### Testing on Model on Actual Data

In [ ]:
BlackFridayTest = pd.read_csv('test.csv')

In [ ]:
BlackFridayTest.head()

In [ ]:
dummy = pd.get_dummies(BlackFridayTest['Gender'])
dummy1 = pd.get_dummies(BlackFridayTest['City_Category'])
dummy2 = pd.get_dummies(BlackFridayTest['Marital_Status'])
dummy3 = pd.get_dummies(BlackFridayTest['Occupation'])

In [ ]:
BlackFridayTest = pd.concat([BlackFridayTest, dummy, dummy1, dummy2, dummy3], axis = 1)

In [ ]:
BlackFridayTestNew = BlackFridayTest.copy(deep=True)

BlackFridayTestNew.loc[BlackFridayTestNew['Gender'] == 'F', 'Gender'] = 0
BlackFridayTestNew.loc[BlackFridayTestNew['Gender'] == 'M', 'Gender'] = 1

BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '0-17', 'Age'] = 0
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '18-25', 'Age'] = 1
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '26-35', 'Age'] = 2
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '36-45', 'Age'] = 3
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '46-50', 'Age'] = 4
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '51-55', 'Age'] = 5
BlackFridayTestNew.loc[BlackFridayTestNew['Age'] == '55+', 'Age'] = 6

BlackFridayTestNew.loc[BlackFridayTestNew['Stay_In_Current_City_Years'] == '4+', 'Stay_In_Current_City_Years'] = 4

BlackFridayTestNew.loc[BlackFridayTestNew['City_Category'] == 'A', 'City_Category'] = 0
BlackFridayTestNew.loc[BlackFridayTestNew['City_Category'] == 'B', 'City_Category'] = 1
BlackFridayTestNew.loc[BlackFridayTestNew['City_Category'] == 'C', 'City_Category'] = 2

BlackFridayTestNew['Product_Category_2'].fillna(0, inplace=True)
BlackFridayTestNew['Product_Category_3'].fillna(0, inplace=True)
BlackFridayTestNew['Product_Category_2'] = BlackFridayTestNew['Product_Category_2'].astype(int)
BlackFridayTestNew['Product_Category_3'] = BlackFridayTestNew['Product_Category_3'].astype(int)

conditions = [
    (BlackFridayTestNew['Product_Category_1'] != 0) & (BlackFridayTestNew['Product_Category_2'] == 0) & (BlackFridayTestNew['Product_Category_3'] == 0),
    (BlackFridayTestNew['Product_Category_1'] != 0) & (BlackFridayTestNew['Product_Category_2'] != 0) & (BlackFridayTestNew['Product_Category_3'] == 0),
    (BlackFridayTestNew['Product_Category_1'] != 0) & (BlackFridayTestNew['Product_Category_2'] != 0) & (BlackFridayTestNew['Product_Category_3'] != 0)]
choices = [1, 2, 3]
BlackFridayTestNew['Category_Count'] = np.select(conditions, choices, default=0)

In [ ]:
BlackFridayTestNew['Product_Score'] = 0.0
required_product_data = BlackFridayTestNew[['Product_ID', 'Product_Score']]

required_product_data['Frequency'] = 1

grouped_product_data = required_product_data.groupby(['Product_ID']).sum()
grouped_product_data = grouped_product_data.reset_index()

grouped_product_data.head()

In [ ]:
max_frequency = grouped_product_data['Frequency'].max()

final_product_data = grouped_product_data[['Product_ID', 'Product_Score', 'Frequency']]

for index, row in final_product_data.iterrows():
    product_score = (float(row['Frequency']) / float(max_frequency))
    final_product_data.set_value(index, 'Product_Score', product_score)

In [ ]:
for index, row in BlackFridayTestNew.iterrows():
    p_score = final_product_data.loc[final_product_data.Product_ID == row['Product_ID'], 'Product_Score'].values[0]
    BlackFridayTestNew.set_value(index, 'Product_Score', p_score)

In [ ]:
BlackFridayTestNew.head()

## Linear Regression

In [ ]:
from sklearn import linear_model

In [ ]:
regr = linear_model.LinearRegression(normalize=True)

In [ ]:
regr.fit(X, y)

In [ ]:
BlackFridayTest = pd.read_csv('test.csv')

In [ ]:
x_test = BlackFridayTestNew.drop(['Product_ID'], axis=1)

In [ ]:
y_pred = regr.predict(x_test)

In [ ]:
print(y_pred)

In [ ]:
finalsolution = BlackFridayTestNew[['User_ID','Product_ID']]
finalsolution['Purchase'] = y_pred

In [ ]:
print('Coefficients: \n', regr.coef_)

In [ ]:
finalsolution.head()

In [ ]:
finalsolution.count()

In [ ]:
finalsolution.to_csv('finalsolution_LinearRegression.csv')

### Result - RMSE 4620.something currently
### Best Solution on Leaderboards - RMSE 2405.something

## Random Forest

In [ ]:
X_test = BlackFridayTestNew.drop(['Product_ID'], axis=1)

In [ ]:
y_pred = rf.predict(X_test)

In [ ]:
print(y_pred)

In [ ]:
BlackFridayTestNew['User_ID'].shape

In [ ]:
finalsolution = BlackFridayTestNew[['User_ID','Product_ID']]
finalsolution['Purchase'] = y_pred

In [ ]:
finalsolution.head()

In [ ]:
finalsolution.count()

In [ ]:
finalsolution.to_csv('finalsolution_RandomForest.csv')

### Result - RMSE 3047.something currently (Random Forest)
### Best Solution on Leaderboards - RMSE 2405.something

In [ ]:
# BlackFridayTrainNew['Product_ID'] = BlackFridayTrainNew['Product_ID'].str[2:]
# BlackFridayTrainNew['Product_ID'] = BlackFridayTrainNew['Product_ID'].astype(str).astype(int)

# BlackFridayTrainNew['Product_Score'] = 0.0
# required_product_data = BlackFridayTrainNew[['Product_ID', 'Product_Score']]

# required_product_data['Frequency'] = 1

# grouped_product_data = required_product_data.groupby(['Product_ID']).sum()
# grouped_product_data = grouped_product_data.reset_index()

# grouped_product_data.head()


# max_frequency = grouped_product_data['Frequency'].max()

# max_frequency

# final_product_data = grouped_product_data[['Product_ID', 'Product_Score', 'Frequency']]

# final_product_data = pd.DataFrame(final_product_data)

# final_product_data.head()

# for index, row in final_product_data.iterrows():
#     product_score = (float(row['Frequency']) / float(max_frequency))
#     final_product_data.set_value(index, 'Product_Score', product_score)

# final_product_data.head()

# BlackFridayTrainNew.head()

# for index, row in data.iterrows():
#     p_score = final_product_data.loc[final_product_data.Product_ID == row['Product_ID'], 'Product_Score'].values[0]
#     data.set_value(index, 'Product_Score', p_score)
# BlackFridayTrainNew.head()

## After adding the product score
### Result - RMSE 3010.something currently (Random Forest)
### Best Solution on Leaderboards - RMSE 2405.something